.toggle-menu {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 8px;
  background-color: red;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.toggle-menu span:before,
.toggle-menu span:after {
  content: " ";
  width: 100%;
  height: 8px;
  background-color: red;
  position: absolute;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.toggle-menu span:before {
  top: -15px;
}
.toggle-menu span:after {
  bottom: -15px;
}
.active span {
  background-color: transparent;
}
.active span:before {
  top: 0px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.active span:after {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
}
.noscroll {
  overflow: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}
.active {
  display: block;
}
a,
a:hover {
  display: inline-block;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
button,
input,
textarea {
  outline: none;
}
input[type="radio"],
input[type="submit"],
input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
  outline: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  /* width: 100%;
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media(min-width:576px){
        max-width: 540px;
    }
    @media(min-width: 768px){
        max-width: 738px;
    }
    @media(min-width:992px) {
        max-width: 960px;
    }
    @media(min-width:1200px){
        max-width: 1140px;
        padding: 0;
    }*/
}
@media (min-width: 768px) {
  .container {
    padding: 0px 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0px;
  }
}
.bottom-line {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 0;
}
.bottom-line::after {
  content: "";
  height: 15px;
  width: 106%;
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: -5;
  background-color: #fbdc4d;
}
.btn {
  padding-right: 40px;
  padding-left: 43px;
  padding-top: 21px;
  padding-bottom: 17px;
  font-size: 21px;
  font-family: "Mplus 1p Bold";
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fbdc4d;
  z-index: 5;
  outline: none;
  text-align: center;
}
.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 293px;
}
.github-connect {
  width: 52px;
  height: 52px;
  margin-right: 30px;
  color: #000000;
}
.telegram-connect {
  width: 52px;
  height: 52px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffffff;
  margin-right: 30px;
  color: #039be5;
}
.vk-connect {
  margin-right: 30px;
  width: 52px;
  height: 52px;
}
.facebook-connect {
  width: 52px;
  height: 52px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  background-color: turquoise;
  z-index: 5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.active {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
.header {
  max-width: 1600px;
  background-color: #FFFFF;
  background-image: url(../img/bg/header-bg.jpg);
  background-repeat: repeat-y;
  overflow: hidden;
}
.header-nav {
  margin-bottom: 175px;
}
.header-nav__container {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  font-size: 42px;
  font-family: "Mplus 1p Black";
  color: #000000;
  line-height: 1.2;
}
.header-menu {
  display: none;
  text-align: center;
}
@media (min-width: 1200px) {
  .header-menu {
    display: block;
  }
}
.header-nav__text {
  position: relative;
  margin-right: 81px;
  z-index: 0;
  font-size: 20px;
  font-family: "Mplus 1p Bold";
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
  text-align: right;
  z-index: 9;
}
.header-nav__text:last-child {
  margin-right: 0;
}
.header-nav__text::after,
.header-nav__text::before {
  content: "";
  height: 10px;
  width: 0%;
  position: absolute;
  background-color: red;
  bottom: 10px;
  z-index: -4;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.header-nav__text::after {
  left: 50%;
}
.header-nav__text::before {
  right: 50%;
}
.header-nav__text:hover::after,
.header-nav__text:hover::before {
  width: 50%;
}
.socials-icon {
  margin-right: 20px;
  width: 32px;
  height: 32px;
  color: #000000;
}
.socials-icon:last-child {
  margin-right: 0;
}
.socials {
  display: none;
}
@media (min-width: 1200px) {
  .socials {
    display: block;
    text-align: center;
  }
}
.header-center__content {
  display: block;
}
@media (min-width: 768px) {
  .header-center__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-center__content-img {
  width: 100%;
  height: 435px;
  text-align: center;
  z-index: 2;
}
.header-center__content-img::after {
  background-image: -moz-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -ms-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.502;
  position: absolute;
  left: 1517px;
  top: 425px;
  width: 474px;
  height: 410px;
  z-index: 33;
}
@media (min-width: 768px) {
  .header-center__content-img {
    width: 48%;
    text-align: right;
  }
}
.header-center__content-title {
  width: 100%;
  height: 415px;
  position: relative;
}
@media (min-width: 768px) {
  .header-center__content-title {
    width: 48%;
  }
}
.title-1 {
  margin-bottom: 40px;
  font-size: 42px;
  font-family: "Mplus 1p ExtraBold";
  color: #000000;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
  }
}
@media (min-width: 1140px) {
  .title-1 {
    font-size: 90px;
  }
}
.header-center__text {
  margin-bottom: 40px;
}
.header-center__text p {
  font-size: 24px;
  font-family: "Mplus1p";
  color: #393f47;
  line-height: 1.5;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}
.header-img {
  -webkit-transform: scale(1.8);
     -moz-transform: scale(1.8);
      -ms-transform: scale(1.8);
       -o-transform: scale(1.8);
          transform: scale(1.8);
  position: relative;
  top: -110px;
  z-index: 1;
}
@media (min-width: 425px) {
  .header-img {
    margin-bottom: 30px;
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (min-width: 576px) {
  .header-img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header-img {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
.header-skills__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.subtitle-1 {
  margin-bottom: 44px;
  font-size: 40px;
  font-family: "Mplus1p";
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}
.content-desc {
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "Mplus1p";
  color: #000000;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}
.content-desc:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .content-desc::before {
    content: "— ";
  }
}
.header__content-desc {
  margin-bottom: 43px;
}
.left {
  margin-left: 20px;
  background-color: #ffffff;
  text-align: center;
  border-color: #464646;
  border-style: solid;
}
.icon-link {
  font-size: 24px;
  font-family: "Mplus1p";
  color: #000000;
  text-decoration: underline;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}
.connected-icon .icon {
  margin-bottom: 36px;
}
.header-center__botton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f8f9;
}
.title-2 {
  margin-bottom: 66px;
}
.project-menu {
  margin-bottom: 52px;
}
.project-menu__item {
  margin-right: 45px;
  font-size: 24px;
  font-family: "Mplus 1p ExtraBold";
  line-height: 1.2;
  color: #8fa5ae;
}
.project-menu__item:last-child {
  margin-right: 0;
}
.home {
  color: #000000;
}
#portfolio-projects,
.portfolio-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project-card {
  margin-bottom: 20px;
  display: block;
  max-width: 360px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  overflow: hidden;
}
.project-card:hover {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.55);
     -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.55);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.55);
}
.project-card:hover .project-card-title h3 {
  color: red;
}
.project-card:hover .project-card-title p {
  color: #ff0000;
}
.project-card:hover .project-card__img button {
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.project-card:hover .project-card__img::after {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}
.big {
  max-width: 555px;
}
.big .project-card__img button {
  -webkit-transform: translate(-500px, -50%);
     -moz-transform: translate(-500px, -50%);
      -ms-transform: translate(-500px, -50%);
       -o-transform: translate(-500px, -50%);
          transform: translate(-500px, -50%);
}
.big .project-card-title h3 {
  font-size: 32px;
  font-family: "Mplus 1p Bold";
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
}
.big .project-card-title p {
  font-size: 22px;
  font-family: "Mplus 1p Light";
  color: #000000;
  line-height: 1.2;
}
.project-card__img {
  margin-bottom: 10px;
  position: relative;
}
.project-card__img button {
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
  border: 2px solid red;
  background-color: red;
  z-index: 2;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  -webkit-transform: translate(-350px, -50%);
     -moz-transform: translate(-350px, -50%);
      -ms-transform: translate(-350px, -50%);
       -o-transform: translate(-350px, -50%);
          transform: translate(-350px, -50%);
}
.project-card__img::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  background-color: rgba(255, 166, 0, 0.5);
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
}
.project-card-title h3 {
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "Mplus 1p Bold";
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
}
.project-card-title p {
  font-size: 20px;
  font-family: "Mplus 1p Light";
  color: #000000;
  line-height: 1.2;
}
.timeline {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #ffffff;
  background-image: url(../img/bg/bg-timeline.jpg);
  background-repeat: repeat-y;
  background-position: center;
  -moz-background-size: auto;
       background-size: auto;
}
.timeline-block__item {
  position: relative;
  width: 100%;
  padding-left: 98px;
  min-height: 175px;
}
.timeline-block__item::after {
  content: "";
  width: 10px;
  position: absolute;
  top: 94px;
  left: 32px;
  bottom: 0;
  background-color: #e1eef4;
  width: 4px;
  height: 113px;
}
.timeline-block__item:last-child::after {
  display: none;
}
@media (min-width: 768px) {
  .timeline-block__item {
    width: 50%;
  }
  .timeline-block__item:first-of-type::before {
    content: "";
    width: 10px;
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 150px;
    -webkit-transform: translateY(-150%);
       -moz-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
         -o-transform: translateY(-150%);
            transform: translateY(-150%);
    background-color: #e1eef4;
    width: 4px;
    height: 57px;
  }
}
@media (min-width: 768px) {
  .timeline-block__item:nth-child(even) {
    margin-left: auto;
  }
  .timeline-block__item:nth-child(even)::after {
    left: -4px;
  }
  .timeline-block__item:nth-child(even) .timeline-item__icon {
    left: -37px;
  }
}
@media (min-width: 768px) {
  .timeline-block__item:nth-child(odd) {
    padding-left: 0;
    padding-right: 50px;
    text-align: right;
  }
  .timeline-block__item:nth-child(odd)::after {
    left: auto;
    right: -4px;
  }
  .timeline-block__item:nth-child(odd) .timeline-item__icon {
    right: -37px;
    left: auto;
  }
}
.timeline-block__item + .timeline-block__item {
  margin-top: 50px;
}
.timeline-item__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 74px;
  height: 74px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.contacts {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #ffffff;
  background-image: url(../img/bg/bg-contacts.jpg);
  background-repeat: repeat-y;
  background-position: center;
  -moz-background-size: auto;
       background-size: auto;
}
.contacts-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts-address {
  width: 505px;
}
.contacts-text {
  font-size: 20px;
  font-family: "Mplus1p";
  color: #000000;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 50px;
}
.contacts-address__wrapp {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer {
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #333333;
}
.footer p {
  font-size: 18px;
  font-family: "Mplus1p";
  color: #ffffff;
  line-height: 1.2;
}
.footer-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "Mplus1p";
  color: #ffffff;
  line-height: 1.2;
}
.form .contact-form {
  margin-top: 61px;
  max-width: 50px;
}
.form-item {
  position: relative;
}
.form-item .form-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #000000;
  height: 50px;
  font-size: 30px;
}
.form-item textarea.form-field {
  height: 130px;
}
.form-item input[type="submit"] {
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fbdc4d;
  width: 200px;
  height: 64px;
  border: none;
  font-size: 22px;
  font-family: "Mplus1p";
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
}
.fake-palceholder {
  position: absolute;
  top: 7px;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  font-family: "Mplus1p";
  color: #bcbcbc;
  pointer-events: none;
  line-height: 1.2;
  text-align: left;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.fake-palceholder.active {
  top: -25px;
  font-size: 16px;
  font-family: "Mplus1p";
  color: #ed9626;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.form-item + .form-item {
  margin-top: 40px;
}
label.error {
  font-size: 14px;
  font-weight: 700;
  color: red;
}
#page-nav {
  position: fixed;
  right: 50px;
  top: 250px;
  z-index: 100;
}
#page-nav li {
  width: 12px;
  height: 12px;
  background-color: red;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li.active {
  background-color: green;
}
/*# sourceMappingURL=main.css.map */