#page-nav {
    position: fixed;
    right: 45px;
    z-index: 100;
    top: 585px; 
    display: none;
    @media(min-width: 1200px){
        display: table;
    }
}

#page-nav li {
    width: 14px;
    height: 14px;
  
    border-radius: 50%;
    margin-bottom: 15px;
    transition: .5s;
 
    background-color: rgb(234, 115, 109);
 }
      

#page-nav li a {
    display: block;
    height: 100%;
}

#page-nav li.active {
     background-color: rgb(137, 180, 203);
                
}


