.contacts{
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #ffffff;
    background-image: url(../img/bg/bg-contacts.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
}
.contacts-wrapper {
    display: flex;
    justify-content: space-between;
}
.contacts-address{
    width: 505px;
   
}
.contacts-text{
       
    font-size: 20px;
    font-family: "Mplus1p";
    color: rgb(0, 0, 0);
    line-height: 1.6;
    text-align: left;
     margin-bottom: 50px;                
}

.contacts-address__wrapp{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    
}
