.header {
  padding-top: 34px;
  padding-bottom: 96px;
  max-width: 1600px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  @media (min-width: 768px) {
    padding-top: 36px;
    padding-bottom: 85px;
  }
  @media (min-width: 1200px){
    padding-top: 70px;
    padding-bottom: 200px;
    background-image: url(../img/bg/header-bg.jpg);
    background-repeat: repeat-y;
  } }
.header-nav {
  margin-bottom: 34px;
  @media (min-width: 768px){
    margin-bottom: 69px;
  }
  @media (min-width: 1200px){
  margin-bottom: 170px;}
}
.header-nav__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo {
  left: 23px;
  font-size: 42px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  @media (min-width: 1200px) {
    top: auto;
    left: auto;
  }
}
.logo.bottom-line::after {
  bottom: 4px;
}
.header-menu {
  display: none;
  text-align: center;
  @media (min-width: 1200px) {
    display: block;
  }
}
.header-menu__item {
  position: relative;
  margin-right: 81px;
  z-index: 0;
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: right;
  z-index: 9;
  &:focus{
  outline-style: dotted;
  outline-width: 3px;
  outline-color: rgb(234, 115, 109);
   
  
}
  &:last-child {
    margin-right: 0;
  }
  &::after,
  &::before {
    content: "";
    height: 6px;
    width: 0%;
    position: absolute;
    background-color: #fbdc4d;

    bottom: 1px;
    z-index: -4;
    transition: 0.5s;
  }
  &::after {
    left: 50%;
  }
  &::before {
    right: 50%;
  }
  &:hover::after,
  &:hover::before {
    width: 50%;
  }
}

.socials-icon {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  color: #000000;
  &:last-child {
    margin-right: 0;
  }
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  &:hover {
  fill: #0077b5;
  color: #0077b5;
  }
}
.socials-icon-wk {
  width: 34px;
  &:hover {
    fill: #45668e;
    color: #45668e;
    }
}
.socials-icon-github:hover{
  fill: #6bc443;
    color: #6bc443;
}

.socials {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    text-align: center;
  }
}

.header-center__content {
  display: block;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.header-center__content-img {
  position: relative;
  width: 100%;
   text-align: center;
  z-index: 2;

  @media (min-width: 768px) {
   
    width: 45%;
    text-align: right;
    &::before {
      content: "";
      position: absolute;
      left: 20%;
      top: 20%;
      background-image: -moz-linear-gradient(
        90deg,
        rgb(244, 248, 249) 0%,
        rgba(244, 248, 249, 0) 100%
      );
      background-image: -webkit-linear-gradient(
        90deg,
        rgb(244, 248, 249) 0%,
        rgba(244, 248, 249, 0) 100%
      );
      background-image: -ms-linear-gradient(
        90deg,
        rgb(244, 248, 249) 0%,
        rgba(244, 248, 249, 0) 100%
      );
      opacity: 0.502;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  @media (min-width: 1200px){
   
  }
}

.header-center__content-title {
  margin-top: 10px;
  width: 100%;
  position: relative;

  @media (min-width: 768px) {
    top: auto;
    width: 48%;
  }
}
.title-1 {
  margin-bottom: 22px;
  font-size: 42px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  line-height: 1.2;

  span::after {
    left: -6px;
    bottom: 12px;
  }
  
  @media (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 52px;
  }
  @media (min-width: 992px) {
    font-size: 64px;
   }

  @media (min-width: 1200px) {
    font-size: 90px;
  }
}

.header-center__text {
  margin-bottom: 34px;
  p {
     font-size: 18px;
   
      color: rgb(57, 63, 71);
      line-height: 1.667;
      text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);

  @media (min-width:1200px) {   
    font-size: 24px;
    color: rgb(57, 63, 71);
    line-height: 1.5;
    text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
 }
  }
}
.header-img {
  transform: scale(1.8);
  position: relative;
  z-index: 0;
 
  @media (min-width: 425px) {
     transform: scale(1.5);
    
  }
  
  @media (min-width: 576px) {
    transform: scale(1.2);
  }
  
  @media (min-width: 768px) {
   margin-top: -60px;
    transform: scale(1);
  
   }
   @media (min-width: 1200px) {
    margin-top: -65px;
     transform: scale(1);
      }
}
.header-skills {
  margin-top: 40px ;
  position: relative;
  z-index: 1;
  @media (min-width: 768px) {
    margin-top: 0;
  }

}
.header-skills__content-desc {
  margin-bottom: 45px;
  width: 290px;
   @media (min-width: 768px){
     margin-bottom: 0;
    width: 339px;
  }
  @media (min-width: 1200px){
    width: 630px;
  }
}
.header-skills__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
   }
}
.subtitle-1 {
  margin-bottom: 29px;
  
    font-size: 30px;
    line-height: 1.2;
    text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
    
    color: rgb(0, 0, 0);
    font-weight: 800;
   @media (min-width: 768px) {
     font-size: 40px;

   }
  
}
.content-desc {
  margin-bottom: 26px;
  font-size: 18px;
  span {
    text-transform: capitalize;}
    @media (min-width:768px){
      font-size: 24px;
      margin-bottom: 15px;

  }
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 1200px) {
    span {
      text-transform:none;
      }
    &::before {
      content: "—  ";
    }
  }
}
.header__content-desc {
  margin-bottom: 38px;
  @media (min-width:768px) {
  margin-bottom: 43px;}
}
.btn-white {
  line-height: 50px;
  height: 60px;
  margin-left: 20px;
  background-color: #ffffff;
 color: #464646;
  border-width: 4px;
  border-color: rgb(70, 70, 70);
  border-style: solid; 
  &:hover{
    background-color: #ffffff;
    border-color: #797979;
    color: #797979;
  }
  &:active {
    border-color: #181818;
    color: #181818;
  }
}

.header-link__email {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-bottom: 2px solid currentColor;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
  @media (min-width:768px) {
    font-size: 24px;
  }

  &:hover{
    color: #039be5;
  }
  &:active {
    color: #f2a39f;
  }
}

.connected-icon .social-icons {
  margin-bottom: 15px;
  @media (min-width:768px) {
  margin-bottom: 36px;}
}
.header-center__botton {
 z-index: 8;
 display: none;
 position: relative;
 @media (min-width: 1200px) {
  display: table;}
}

.btn-1 {
  display: none;
  width: 275px;
  @media (min-width: 1200px) {
    display: table;
  }
}
