.section-portfolio {
    padding-top: 63px;
    padding-bottom: 120px;
    background-color: #f4f8f9;
    @media (min-width:768px){
        padding-top: 120px;
    }
}

.title-2{
    font-size: 42px;
@media (min-width: 768px) {
    margin-bottom: 51px;
        font-size: 52px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        font-weight: 800;
        span::after {
            left: -6px;
            bottom: 8px;
  }  }
  @media (min-width: 1200px) {
    font-size: 64px; 
    margin-bottom: 66px;
  }
}


.project-menu {
    margin-bottom: 40px;
    display: flex;
    @media (min-width:768px) {
        margin-bottom: 50px;
    }
    @media (min-width: 1200px) {
        margin-bottom: 52px;   
    }
}

.project-menu__item {
    display: none;
    @media (min-width:768px) {
        display: table;
    margin-right: 50px;
         font-size: 22px;
       font-weight: 800;       
        line-height: 1.2;
         color: rgb(143, 165, 174); 
         &:last-child{
             margin-right: 0;
         }
        } 
        @media (min-width:1200px) {
            font-size: 28px;  
            margin-right: 45px;
        }   
}

.home {
    color: rgb(0, 0, 0);
} 

#portfolio-projects, .portfolio-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
  
}

.project-container-wrapp {
    
}
.project-card__link {
         font-size: 20px;
         color: rgb(3, 155, 229);
        text-decoration: underline;
        line-height: 1.2;
        text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
       font-weight: 400;
       @media (min-width:768px) {
              
       }
       @media (min-width:1200px) {
           display: none;
       }
}